.chart {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.3);

  &-container {
    padding: 15px 20px 0 20px;
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    position: relative;
  }
}