.container {
  margin: 0 auto;
  width: 900px;

  @include mobile {
    width: 100%;
    margin: 0;
  };
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
  max-width: 0;
  transition: max-width .2s ease;
  overflow: hidden;
  padding-top: 50px;
  z-index: 1;

  &-back {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;

    &--open {
      pointer-events: all;
      opacity: 1;
    }
  }

  &--open {
    max-width: 400px;
  }

  &-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .2s ease;
    min-width: 50px;

    &:hover {
      background: darken(#ffffff, 20%);
    }
  }
}