.container {
  margin: 0 auto;
  width: 900px;

  @include mobile {
    width: 100%;
    margin: 0;
  };
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 0;
  background: #ffffff;
  transition: max-width .2s ease;
  overflow: hidden;
  padding-top: 50px;

  &-back {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;

    &--open {
      pointer-events: all;
      opacity: 1;
    }
  }

  &--open {
    max-width: 400px;
  }

  &-item {
    padding: 20px 30px;
    cursor: pointer;

    &:hover {
      background: darken(#ffffff, 20%);
    }
  }

  &-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
    visibility: hidden;

    &--visible {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }
}