.tbl {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #4F6228;
  font-size: 12px;
  text-align: center;

  &-nopad {
    padding: 0 !important;
  }

  & th {
    background: #9BBB59;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid darken(#B3CC82, 20%) 1px;

    &:first-child {
      cursor: default;
    }

    &:not(:first-child) {
      cursor: pointer;
      transition: background-color .2s ease;

      &:hover {
        background: darken(#9BBB59, 5%);
        color: darken(#4F6228, 10%);
      }

      &:active {
        background: darken(#9BBB59, 10%);
        color: darken(#4F6228, 20%);
      }
    }
  }

  & tr {
    background: #E6EED5;
    border: solid #B3CC82 1px;

    &:nth-child(2n) {
      background: #fff;
    }
  }

  & td {
    padding: 10px;
    border: solid #B3CC82 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;

    &:nth-last-child(2) {
      border-right: none;
    }

    &:last-child {
      border-left: none;
    }
  }
}

.select {
  display: none;
  font-size: 14px;
  align-items: center;

  @include mobile {
    display: flex;
  }

  & label {
    text-align: center;
    font-weight: bold;
    flex: 1 1 auto;
  }

  & select {
    flex: 1 1 auto;
  }

  &-checkbox {
    padding: 5px;
    margin: 5px;

    & option {
      &::before {
        content: "\2610";
        width: 1.3em;
        text-align: center;
        display: inline-block;
      }

      &:checked::before {
        content: "\2611";
      }
    }
  }
}