.tbl {
  width: 100%;
  border-collapse: collapse;
  color: #4F6228;
  font-size: 12px;
  text-align: center;

  @include mobile {
    table-layout: fixed;
  }

  &-nopad {
    padding: 0 !important;
  }

  & th {
    background: #9BBB59;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid darken(#B3CC82, 20%) 1px;

    &:first-child {
      cursor: default;
    }

    &:not(:first-child) {
      cursor: pointer;
      transition: background-color .2s ease;

      &:hover {
        background: darken(#9BBB59, 5%);
        color: darken(#4F6228, 10%);
      }

      &:active {
        background: darken(#9BBB59, 10%);
        color: darken(#4F6228, 20%);
      }
    }
  }

  & tr {
    background: #E6EED5;
    border: solid #B3CC82 1px;

    &:nth-child(2n) {
      background: #fff;
    }
  }

  & td {
    padding: 10px;
    border: solid #B3CC82 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }
}